@import 'variables';

.nav-bar {
  background: $brand-color;
  width: 100%;
  height: $header-height;
  position: fixed;
  z-index: 100;
  top: 0px;
  padding: 0 $spacing-unit;
  color: #e8fdff;

  .nav-wrapper {
    width: 800px;
    height: $header-height;
    margin: 0 auto;
  }

  .logo, .header {
    display: inline;
    vertical-align: middle;
  }

  .header {
    font-size: 1.8em;
  }

  .log-form {
    float: right;

    button {
      background: none;
      padding: 0;
      border: 0px;
      line-height: 80px;
      font-size: 1.2em;
      color: #fff;
      cursor: pointer;
    }
  }
}

.compose-btn {
  background-color: $primary-color;
  display: inline;
  float: right;
  margin: 15px 10px;
  padding: $spacing-unit/2;
  border: solid 1px #666;
  border-radius: 5px;
  font-size: 1.3em;
  color: $brand-color;
  text-decoration: none;
}

.compose-btn:hover {
  background-color: #fff;
}

.fa-pencil-square-o {
  margin-right: 3px;
  vertical-align: middle;
}

.user-header {
  display: inline;
  height: $header-height;
  float: right;
  font-size: 1.2em;
  line-height: $header-height;

  a {
    color: #fff;
  }
}


