.nav-bar {
  background: #00a087;
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
  top: 0px;
  padding: 0 2em;
  color: #e8fdff;
}

.nav-bar .nav-wrapper {
  width: 800px;
  margin: 0 auto;
}

.nav-bar .logo,
.nav-bar .header {
  display: inline-block;
  vertical-align: middle;
}

.nav-bar .logo {

}

.nav-bar .header {
  font-size: 1.8em;
}

.compose-btn {
  background-color: #ccc;
  display: inline-block;
  float: right;
  margin-top: 15px;
  padding: 10px;
  border: solid 1px #666;
  border-radius: 5px;
  font-size: 1.3em;
  color: #00a087;
  text-decoration: none;
}

.compose-btn:hover {
  background-color: #fff;
}