.new-tweet {
  background-color: #ccc;
  margin-bottom: 40px;
  padding: 0 1em 1em;
  border: solid 1px #777;
  border-radius: 4px;
}

.new-tweet h2 {
  margin: 1em 0;
  padding: 0px;
  border-bottom: solid 1px #666;
  font-size: 1.6em;
}

.new-tweet .editor {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  padding: 5px;
}

.new-tweet .counter {
  float: right;
  padding-top: 7px;
  font-size: 0.9em;
  font-style: italic;
}

.negative-num {
  color: red;
}

.tweet {
  margin-bottom: 20px;
  border: solid 1px #ccc;
  border-radius: 4px;
}

.tweet header {
  background-color: #dcdcdc;
  height: 70px;
  padding: 0.5em;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.tweet .avatar {
  margin-right: 8px;
  border-radius: 3px;
  opacity: 0.7;
}

.tweet:hover {
  border-color: #777;
}

.tweet:hover header {
  background-color: #ccc;
}

.tweet:hover .avatar {
  opacity: 1;
}

.tweet:hover .fullname {
  color: #244751;
}

.tweet .fullname {
  color: #777;
  font-size: 1.4em;
  vertical-align: top;
}

.tweet .username {
  float: right;
  padding-top: 5px;
  color: #666;
  font-size: 0.9em;
  font-weight: 300;
}

.tweet .tweet-body {
  padding: 2.2em 1em;
  word-wrap: break-word;
}

.tweet footer {
  height: 40px;
  padding: 0.8em;
  border-top: solid 1px #ccc;
  color: #888;
  font-size: 0.9em;
  font-weight: 300;
}

.tweet .social {
  display: none;
  float: right;
}

.tweet:hover .social {
  display: block;
}

.tweet i {
  margin-left: 5px;
}

.error {
  background-color: #ffccbb;
  margin-bottom: 10px;
  padding: 4px 7px 4px;
  border: solid 1px red;
  color: red;
}

.fa-pencil-square-o {
  margin-right: 3px;
  vertical-align: middle;
}

.social .fa-heart:hover {
  color: red;
}

.social .fa-retweet:hover {
  color: green;
}

.social .fa-flag:hover {
  color: blue;
}
